 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body{
    background: black;
    overflow-x: hidden;
}
/*-----Header Section start-----------*/
.header{
    height: 100vh;
    width: 100%;
}
/*-----Navbar Section Start-----------*/
.navbar{
    padding: 15px 18px !important;
}
 .logo{
    font-weight: 600;
    color: rgba(255, 255, 255, 0.848) !important;
 }   
.nav-item{
    margin: 0px 10px;
}  
.nav-item .nav-link{
    color: rgba(255, 255, 255, 0.92);
    font-size: 14px;
    font-weight: 500;
    position: relative;
    
}
.nav-link::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: rgb(255, 129, 57);
    width: 0%;
    height: 3px;
    transition: 0.4s ease-in-out;
}  

.nav-item:hover .nav-link::after{

    width: 100%;
}

.nav-link:hover{
    color: rgb(255, 129, 57);
}

.btn-navbar{
    display: inline-block;
    padding: 10px 43px;
    border: 1px solid rgb(36, 193, 255);
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(36, 193, 255);
    transition: 0.2s ease;
}

.btn-navbar:hover{
    background-color: transparent;
    color: rgb(255, 129, 57);
    border: 1px solid rgb(255, 129, 57);
}
/*-----Navbar Section End-----------*/


/*-----Home Section Start-----------*/

.content-home2{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.home-heading{
    font-size: 50px;
    font-weight: 700;
    line-height: 74px;
}

.home-span{
    color: rgb(255, 129, 57);

}
.para-home{
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.42);
    max-width: 400px;
    line-height: 24px;
    margin: 14px 0px;

}
.home-links{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(36, 193, 255);
    background-color: rgb(36, 193, 255);
    margin: 20px 0px;
    margin-right: 7px;
    border-radius: 50px;
    padding: 10px 37px;
    font-size: 14px;
    font-weight: 600px;
    transition: 0.2s ease;

}
.btn-2{
    border: 1px solid rgb(36, 193, 255);
    color: rgb(36, 193, 255);
    background-color: transparent;
}
.home-links:hover{
    background-color: transparent;
    color: rgb(255, 129, 57);
    border: 1px solid rgb(255, 129, 57) !important;
}

.home-img{
    height: 580px;
    width: 580px;
    margin-right: 20px;
}
/*-----------------Home Section End---------------------*/
/*--------------------------------Header Section End----------------------------------------*/


/*----------------About Section Start-----------*/


.about-us-container{
    width: 100%;
    height: 80vh;
}

.about-us{
    width: 100%;
    height: 320px;
    background-color: rgb(54, 54, 54);
    margin-top: 140px;
    position: relative;
}
.content-about{
    padding: 10px 38px;
}
.heading-about{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 129, 57);
    margin: 10px 0px;
    margin-bottom: 34px;
    position: relative;
}

.heading-about::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    background-color: rgb(255, 129, 57);
    width: 46px;
    height: 2px;
}

.para-about{
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.695);
    line-height: 21px;
    margin: 25px 0px;
    
}

.link-about{
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgba(255, 129, 57, 0.5);
    color: rgb(255, 129, 57);
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    padding: 8px 22px;
    position: relative;
    z-index: 22;
}

.link-about:hover{
    color: white;
}

.span-about{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 129, 57);
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.4s ease-in;
}

.link-about:hover .span-about{
    width: 100%;
}

.fa-arrow-right{
    color: rgb(255, 129, 57);
    font-size: 11px;
    margin-left: 5px;

}

.fa-arrow-right:hover{
    color: white;
}

.about-img{
    height: 420px;
    width: 48%;
    position: absolute;
    top: 0px;
    right: 20px;
}

/*----------------About Section End-----------*/

/*----------------Course Section Start-----------*/


.course-category{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4px;

}

.heading-course{
    font-size: 34px;
    color: rgb(255, 129, 57);
    margin-bottom: 120px;
    position: relative;
}

.heading-course::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    background-color: rgb(255, 129, 57);
    width: 56px;
    height: 2px;
}

.card-course{
    padding: 14px 10px;
    background-color: #242424 !important;
   
}

.img-card{
    height: 190px !important;
    
}

.card-title{
    font-size: 14px;
    color: rgb(255, 129, 57);
    width: 100%;
    border-bottom: 1px solid rgb(255, 129, 57);
    padding: 5px 0px;
    margin: 10px 0px;
    margin-bottom: 20px !important;
}

.card-text{
    color: rgba(255, 255, 255, 0.873);
    font-size: 12px;
    line-height: 22px;

}

.btn-course-ctg{
    color: rgb(255, 129, 57);
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-course-ctg:hover{
    color: rgb(250, 183, 144);

}

.button-left{
    position: absolute;
    left: 20px;
    padding: 10px 12px;
    color: #100f10;
    border-radius: 30px;
    background-color: #2c2c2c;
    font-size: 18px;
}

.button-right{
    position: absolute;
    right: 20px;
    padding: 10px 12px;
    color: #100f10;
    border-radius: 30px;
    background-color: #2c2c2c;
    font-size: 18px;
}

.button-right:hover{
    color: #100f10;
}


/*----------------Course Section End-----------*/

/*----------------Testimonial Section Start-----------*/

.testimonial{
    width: 100%;
    height: 100vh;
    padding: 20px;
    margin-top: 60px;
}

.heading-testimonial{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.884);
    margin-bottom: 35px;
}

.heading-testimonial .styling{
    color: rgb(255, 129, 57);
}

.para-testimonial{
    color: rgba(255, 255, 255, 0.856);
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center !important;
    max-width: 760px;
    margin: 12px auto;
    line-height: 25px;
}

.container-clients{
    margin: 100px 0px 20px 0px;

}

.container-content{
    width: 90%;
    height: 350px;
    background-image: linear-gradient(145deg , rgba(244 , 129 , 63,1) 0% , rgba(241 , 85 , 106, 1)100%);
    margin: auto;
    padding: 30px;
    text-align: end;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 0.2s ease-in;
}

.container-content:hover{
    transform: translateY(-14px);
}

.img-client{
    position: absolute;
    top: -62px;
    left: -62px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.image-clients{
    width: 100%;
    height: 100%;
}

.rating{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 12px 0px;
}
.rating .stars{
    font-size: 14px;
    margin: 0px 2px;
}

.client-name{
    font-size: 22px;
    margin-top: 20px;
    color: white;
    text-align: center;
}

.client-para{
    color: rgba(255, 255, 255, 0.877);
    font-style: italic;
    font-weight: 200;
    font-size: 15px;
    line-height: 24px;
    margin: 26px 0px 15px 0px;
    text-align: center;
}

.profession{
    color: #fff;
    font-weight: 00;
    font-size: 14px;
    margin-top: 38px;
    text-align: center;

}

.carousel-indicators button{
    background-color: rgb(255, 129, 57);

}

.carousel-indicators{
    position: absolute;
    bottom: -60px !important;
}
/*----------------Testimonial Section End-----------*/

/*----------------Contact Section Start-----------*/

.contact-form{
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading-contact{
    font-size: 34px;
    color: rgb(255, 129, 57);
    margin-bottom: 120px;
    position: relative;
}

.heading-contact::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    background-color: rgb(255, 129, 57);
    width: 56px;
    height: 2px;

}

.form-origin{
    width: 100%;
    height: 480px;
    background-color: rgb(42, 41, 41);
    padding: 50px 30px;
    border-radius: 8px;
}

.form-origin input{
    color: #777 !important;
    font-size: 14px;
    border: 1px solid #e4e3e3;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    padding: 16px 22px;
    margin-bottom: 40px;
}
::placeholder{
    color: rgba(255, 255, 255, 0.874) !important;
}

.form-origin textarea{
    height: 200px;
    padding: 20px;
    font-size: 14px;
    background-color: transparent;
    color: #777;
}

.btn-contact{
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: #f4813f;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3ex;
    text-decoration: none;
    margin: 20px 0px;
    border: 2px solid rgb(255, 129, 57);

}

.content-contact{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 8px 18px;
    justify-content: center;
    flex-direction: column;
}

.heading-content{
    color: white;
    margin-bottom: 30px;
    font-size: 42px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
}

.heading-content span{
    color: rgb(255, 129, 57);
}

.para-content{
    font-size: 15px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.918);
    margin: 16px 0px;
}


/*----------------Contact Section End-----------*/

/*----------------Footer Section Start-----------*/

footer{
    background-color: rgb(4, 4, 4);
    margin: 0px 0px !important;
    height: 10vh;
    margin-top: 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para-footer{
    margin: 0px 0px;
    
}
/*----------------Footer Section End-----------*/